node_modules
vendor
.git
.env
.env.local
.env.testing
storage/*.key
.phpunit.result.cache
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
docker-compose.yml
Dockerfile
.dockerignore
